@media (max-width: 571px) {
  .service {
    width: 100%;

    &__wrapper {
      display: block;
    }
    &__card {
      margin: 0;
    }
  }

  .service-taytl {
    margin-bottom: 35px;
  }

  .portfolio-image {
    width: 100%;
    width: 329px;
    height: 416px;
  }
 
  .ddd,
  .sofa,
  .KeyBoard,
  .work {
    width: 100%;
    width: 353px;
    height: 416px;
  }
  .portfolio-overlay {
    top: 100px;
    left: -100px;
  }

  .team-container, .founder__wrapper, .testimonials__wrapper {
    display: flex;
    flex-direction: column;
  }
 .testimonials__wrapper {
    gap: 30px;
 }
.testimonials__card {
  height: auto;
}
    
  .founder__img img, .testimonials__card{
    width: 100%;
  }
 .portfolio-bnt2 {
  margin: 0;
  text-align: center;
  display: block;
 }

}
