
    $BG-PRIMARY: #28293e;
    $TEXT-DARK: #391400;
    $TEXT-DARK-ACCENT: #f3d1bf4f;
    $TEXT-DARK-GRAY: #39140064;
    $TEXT-LIGHT: #fff;
    $TEXT-LIGHT-ACCENT: #ef6d;
    $TEXT-LIGHT-GRAY: #ffffff64;

  